.anonymous-pro {
  font-family: "anonymous-pro", monospace;
}

.auger-mono {
  font-family: "auger-mono", monospace;
}

.jetlab-variable {
  font-family: "jetlab-variable", sans-serif;
}

.adapt-variable {
  font-family: "adapt-variable", sans-serif;
}

.cofo-sans-variable {
  font-family: "cofo-sans-variable", sans-serif;
}

.cofo-peshka-variable {
  font-family: "cofo-peshka-variable", sans-serif;
}

.cofo-sans-mono-variable {
  font-family: "cofo-sans-mono-variable", sans-serif;
}

.config-variable {
  font-family: "config-variable", sans-serif;
}

.mazurquica {
  font-family: "mazurquica-vf", sans-serif;
}