@import url("https://use.typekit.net/mrf2xjr.css");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Gabarito:wght@400..900&family=Inconsolata:wdth,wght@50..200,200..900&family=Space+Grotesk:wght@300..700&display=swap");
.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: 100;
}

.gabarito {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.crimson-pro {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #05051a;
  color: #fffafd;
  font-family: "Inconsolata", monospace;
  font-variation-settings: wght 300, wdth 100;
}

.chance-megamenu .megamenu-grid {
  display: grid;
  grid-template-rows: 100px repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.chance-megamenu .megamenu-grid > li:nth-child(1) {
  grid-area: 1/1/2/5;
}
.chance-megamenu .megamenu-grid > li:nth-child(2) {
  grid-area: 2/1/3/2;
}
.chance-megamenu .megamenu-grid > li:nth-child(3) {
  grid-area: 3/1/4/2;
}
.chance-megamenu .megamenu-grid > li:nth-child(4) {
  grid-area: 2/2/3/3;
}
.chance-megamenu .megamenu-grid > li:nth-child(5) {
  grid-area: 3/2/4/3;
}
.chance-megamenu .megamenu-grid > li:nth-child(6) {
  grid-area: 2/3/3/4;
}
.chance-megamenu .megamenu-grid > li:nth-child(7) {
  grid-area: 3/3/4/4;
}
.chance-megamenu .megamenu-grid > li:nth-child(8) {
  grid-area: 2/4/3/5;
}
.chance-megamenu .megamenu-grid > li:nth-child(9) {
  grid-area: 3/4/4/5;
}
.chance-megamenu ul {
  list-style: none;
  margin-top: 0.25rem;
  padding: 0;
}
.chance-megamenu ul li {
  padding: 0.25rem 0.5rem;
  transition: all 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.chance-megamenu ul li a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.175);
}
.chance-megamenu ul li a:hover {
  color: #e322a9;
  text-decoration: underline;
}
.chance-megamenu .main-menu > li > a {
  color: #29f2f2;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 1.618rem;
  letter-spacing: 0.03rem;
}
.chance-megamenu .main-menu > li > a:hover {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.chance-megamenu .submenu li a {
  color: #cbfdbc;
  font-family: "Inconsolata", monospace;
  font-variation-settings: "wght" 300, "wdth" 100;
  font-size: 1.33rem;
}
.chance-megamenu .submenu li a:hover {
  color: #0ff207;
  font-variation-settings: "wght" 300, "wdth" 130;
}
.chance-megamenu .submenu .submenu li a {
  color: #bafaf9;
  text-transform: capitalize;
  font-size: 1.25rem;
}
.chance-megamenu .submenu .submenu li a:hover {
  color: #0ff207;
  font-variation-settings: "wght" 300, "wdth" 130;
}
.chance-megamenu .submenu .submenu .submenu-heading {
  color: #e322a9;
  font-variation-settings: "wght" 400, "wdth" 85;
  text-transform: uppercase;
  font-size: 1.33rem;
}
.chance-megamenu .submenu .submenu .submenu-heading:hover {
  font-variation-settings: "wght" 400, "wdth" 100;
}