$ebony: #05051a;
$ebony-hsla: hsl(240, 68%, 6%);
$ebony-rgba: rgb(5, 5, 26);
$ebony-hsl: 240, 68%, 6%;
$ebony-rgb: 5, 5, 26;

$lucky-point: #000f5c;
$lucky-point-hsla: hsl(230, 100%, 18%);
$lucky-point-rgba: rgb(0, 15, 92);
$lucky-point-hsl: 230, 100%, 18%;
$lucky-point-rgb: 0, 15, 92;

$hollywood-cerise: #e322a9;
$hollywood-cerise-hsla: hsl(318, 78%, 51%);
$hollywood-cerise-rgba: rgb(227, 34, 169);
$hollywood-cerise-hsl: 318, 78%, 51%;
$hollywood-cerise-rgb: 227, 34, 169;

$harlequin: #0ff207;
$harlequin-hsla: hsl(118, 94%, 49%);
$harlequin-rgba: rgb(15, 242, 7);
$harlequin-hsl: 118, 94%, 49%;
$harlequin-rgb: 15, 242, 7;

$aqua: #29f2f2;
$aqua-hsla: hsl(180, 89%, 55%);
$aqua-rgba: rgb(41, 242, 242);
$aqua-hsl: 180, 89%, 55%;
$aqua-rgb: 41, 242, 242;

$cerulean-blue: #144fc4;
$cerulean-blue-hsla: hsl(220, 81%, 42%);
$cerulean-blue-rgba: rgb(20, 79, 196);
$cerulean-blue-hsl: 220, 81%, 42%;
$cerulean-blue-rgb: 20, 79, 196;

$revolver: #24041b;
$revolver-hsla: hsl(317, 80%, 8%);
$revolver-rgba: rgb(36, 4, 27);
$revolver-hsl: 317, 80%, 8%;
$revolver-rgb: 36, 4, 27;

$hint-of-red: #fffafd;
$hint-of-red-hsla: hsl(324, 100%, 99%);
$hint-of-red-rgba: rgb(255, 250, 253);
$hint-of-red-hsl: 324, 100%, 99%;
$hint-of-red-rgb: 255, 250, 253;

$jaguar: #03030c;
$jaguar-hsla: hsl(240, 60%, 3%);
$jaguar-rgba: rgb(3, 3, 12);
$jaguar-hsl: 240, 60%, 3%;
$jaguar-rgb: 3, 3, 12;

$gossip: #cbfdbc;
$gossip-hsla: hsl(106, 94%, 86%);
$gossip-rgba: rgb(203, 253, 188);
$gossip-hsl: 106, 94%, 86%;
$gossip-rgb: 203, 253, 188;

$mint-tulip: #bafaf9;
$mint-tulip-hsla: hsl(179, 86%, 85%);
$mint-tulip-rgba: rgb(186, 250, 249);
$mint-tulip-hsl: 179, 86%, 85%;
$mint-tulip-rgb: 186, 250, 249;

$reef: #b8fca5;
$reef-hsla: hsl(107, 94%, 82%);
$reef-rgba: rgb(184, 252, 165);
$reef-hsl: 107, 94%, 82%;
$reef-rgb: 184, 252, 165;
