/*
Theme Name: Chance Theater
Template: ollie
Author: Anna Jennings
  
*/



@use "colors" as clr;
@use "typography" as typ;
@use "sass:map";
// @import "https://use.typekit.net/mrf2xjr.css";

// # BOOTSTRAP
//   1. functions first
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here - redefine variables not dependent on anything else

// // global variables

$enable-shadows: true;
$enable-gradients: true;
$enable-cssgrid: true;
// $enable-negative-margins: false !def

// // custom color variables
$white: #fff !default;
$black: #000 !default;

// $blue: #0d6efd !default;
// $indigo: #6610f2 !default;
// $purple: #6f42c1 !default;
// $pink: #d63384 !default;
// $red: #dc3545 !default;
// $orange: #fd7e14 !default;
// $yellow: #ffc107 !default;
// $green: #198754 !default;
// $teal: #20c997 !default;
// $cyan: #0dcaf0 !default;

// // theme color variables
$primary: clr.$lucky-point;
$secondary: clr.$cerulean-blue;
$success: clr.$harlequin;
$info: clr.$aqua;
// $warning: clr.$yellow;
$danger: clr.$hollywood-cerise;
$light: clr.$mint-tulip;
$dark: clr.$revolver;

$border-color: clr.$ebony;
// $body-text-align: null !default;
$body-color: clr.$jaguar;
$body-bg: clr.$hint-of-red;

// $body-secondary-color: rgba($body-color, 0.75) !default;
// $body-secondary-bg: $gray-200 !default;

// $body-tertiary-color: rgba($body-color, 0.5) !default;
// $body-tertiary-bg: $gray-100 !default;

// $body-emphasis-color: $black !default;

// font family
$font-family-base: typ.$config;
// $font-family-serif: typ.$meursault;
$font-family-sans-serif: typ.$cofo-sans;
$font-family-monospace: typ.$cofo-sans-mono;
// $font-family-code: ;
$headings-font-family: typ.$cofo-sans;
$display-font-family: typ.$cofo-sans;
// $input-btn-font-family: typ.$config;
$btn-font-family: typ.$config;
$input-font-family: $font-family-monospace;
// $form-select-font-family: $input-font-family !default;

// font sizes
$font-size-base: 1rem;
$lead-font-size: $font-size-base * 1.618;

// headings
$headings-font-style: null !default;
$headings-font-weight: 400;
$headings-line-height: 1.5;
$headings-color: inherit !default;

$h1-font-size: $font-size-base * 4.3;
$h2-font-size: $font-size-base * 3.26;
$h3-font-size: $font-size-base * 2.62;
$h4-font-size: $font-size-base * 1.618;
$h5-font-size: $font-size-base * 1.33;
$h6-font-size: $font-size-base * 1.1;

// links
$link-color: $primary !default;
$link-decoration: underline !default;
$link-shade-percentage: 20% !default;
$link-hover-color: shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: null !default;

// breakpoints
$grid-breakpoints: (
  xs: 0,
  // mobile vertical < 575px
  sm: 576px,
  // mobile horizontal 576px - 767px
  md: 768px,
  // tablet 768px - 1024px
  lg: 1025px,
  // laptop 1025px - 1359px
  xl: 1360px,
  // desktop 1360px - 1600px
  xxl: 1600px,
  // widescreen > 1600px
);

// grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 6 !default;

// headings
$heading-size: (
  h1: 4.23rem,
  h2: 2.62rem,
  h3: 1.618rem,
  h4: 1.33rem,
  h5: 1.25rem,
  h6: 1rem,
);

// spacers
$spacer: 1.5rem;
$spacers: (
  0: 0,
  1: calc($spacer / 4),
  2: calc($spacer / 2),
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 4,
);

// borders
$border-width: 1px !default;
$border-radius: 0.375rem !default;
$border-style: solid !default;
$border-color: $gray-300 !default;
$border-widths: (
  1: 1px,
  2: 3px,
  3: 5px,
  4: 7px,
  5: 9px,
);

// shadows
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075) !default;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// add colors to theme
$custom-colors: (
  "tertiary": clr.$aqua,
  "quaternary": clr.$hollywood-cerise,
  "quininary": clr.$harlequin,
  "hollywood-cerise": clr.$hollywood-cerise,
  "harlequin": clr.$harlequin,
  "aqua": clr.$aqua,
  "cerulean-blue": clr.$cerulean-blue,
  "lucky-point": clr.$lucky-point,
  "ebony": clr.$ebony,
  "revolver": clr.$revolver,
  "reef": clr.$reef,
  "gossip": clr.$gossip,
  "hint-of-red": clr.$hint-of-red,
  "mint-tulip": clr.$mint-tulip,
  "jaguar": clr.$jaguar,
);

$theme-colors: map.merge($theme-colors, $custom-colors);

// // remove colors from theme
// $theme-colors: map.remove($theme-colors, "danger");

// add classes for color pallette colors
@each $color, $val in $colors {
  .bg-#{$color} {
    background-color: $val;
  }
  .bg-#{$color}-light {
    background-color: tint-color($val, 80%);
  }
  .bg-#{$color}-dark {
    background-color: shade-color($val, 30%);
  }
  .text-#{$color} {
    color: $val;
  }
  .text-#{$color}-light {
    color: tint-color($val, 80%);
  }
  .text-#{$color}-dark {
    color: shade-color($val, 30%);
  }
}

// // add display heading
// $custom-display-font-sizes: (
//   7: 2rem,
// );
// $display-font-sizes: map.merge($custom-display-font-sizes, $display-font-sizes);

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";

// 6. Include any other optional stylesheet partials for layout & components
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

// helpers
@import "../../node_modules/bootstrap/scss/helpers";
// adding utilities
$custom-utilities: (
  "varWght": (
    property: font-weight,
    class: varWght,
    values: (
      thin: 200,
      light: 300,
      reg: 400,
      medium: 500,
      semibold: 600,
      bold: 700,
      black: 800,
      super: 900,
    ),
  ),
  "varWdth": (
    property: font-stretch,
    class: varWdth,
    values: (
      comp: 50,
      cond: 60,
      narr: 80,
      reg: 100,
      wide: 150,
      ext: 200,
    ),
  ),
  "opacity": (
    property: opacity,
    class: o,
    state: hover,
    values: (
      0: 0,
      25: 0.25,
      50: 0.5,
      75: 0.75,
      100: 1,
    ),
  ),
);
$utilities: map.merge($utilities, $custom-utilities);

// modifying utilities
$modified-utilities: (
  "border-bottom": (
    property: border-bottom,
    values: (
      null: $border-width dashed $border-color,
      0: 0,
    ),
  ),
  "display":
    map.merge(
      map.get($utilities, "display"),
      (
        class: dis,
      )
    ),
);

$utilities: map.merge($utilities, $modified-utilities);

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

