$royal-blue: #6a66d9;
$royal-blue-hsla: hsl(242, 60%, 63%);
$royal-blue-rgba: rgb(106, 102, 217);
$royal-blue-hsl: 242, 60%, 63%;
$royal-blue-rgb: 106, 102, 217;

$midnight: #010326;
$midnight-hsla: hsl(237, 95%, 8%);
$midnight-rgba: rgb(1, 3, 38);
$midnight-hsl: 237, 95%, 8%;
$midnight-rgb: 1, 3, 38;

$catalina-blue: #172573;
$catalina-blue-hsla: hsl(231, 67%, 27%);
$catalina-blue-rgba: rgb(23, 37, 115);
$catalina-blue-hsl: 231, 67%, 27%;
$catalina-blue-rgb: 23, 37, 115;

$blue-ribbon: #1d64f2;
$blue-ribbon-hsla: hsl(220, 89%, 53%);
$blue-ribbon-rgba: rgb(29, 100, 242);
$blue-ribbon-hsl: 220, 89%, 53%;
$blue-ribbon-rgb: 29, 100, 242;

$lavender-magenta: #f07ef2;
$lavender-magenta-hsla: hsl(299, 82%, 72%);
$lavender-magenta-rgba: rgb(240, 126, 242);
$lavender-magenta-hsl: 299, 82%, 72%;
$lavender-magenta-rgb: 240, 126, 242;

$cerise-hollywood: #e323ab;
$cerise-hollywood-hsla: hsl(318, 77%, 51%);
$cerise-hollywood-rgba: rgb(227, 35, 171);
$cerise-hollywood-hsl: 318, 77%, 51%;
$cerise-hollywood-rgb: 227, 35, 171;


