$black-rock: #000131;
$black-rock-hsla: hsl(239, 100%, 10%);
$black-rock-rgba: rgb(0, 1, 49);
$black-rock-hsl: 239, 100%, 10%;
$black-rock-rgb: 0, 1, 49;

$bright-turquoise: #01e7ca;
$bright-turquoise-hsla: hsl(172, 99%, 45%);
$bright-turquoise-rgba: rgb(1, 231, 202);
$bright-turquoise-hsl: 172, 99%, 45%;
$bright-turquoise-rgb: 1, 231, 202;

$madison: #00205b;
$madison-hsla: hsl(219, 100%, 18%);
$madison-rgba: rgb(0, 32, 91);
$madison-hsl: 219, 100%, 18%;
$madison-rgb: 0, 32, 91;

$congress-blue: #054380;
$congress-blue-hsla: hsl(210, 92%, 26%);
$congress-blue-rgba: rgb(5, 67, 128);
$congress-blue-hsl: 210, 92%, 26%;
$congress-blue-rgb: 5, 67, 128;

$harlequin: #0ff207;
$harlequin-hsla: hsl(118, 94%, 49%);
$harlequin-rgba: rgb(15, 242, 7);
$harlequin-hsl: 118, 94%, 49%;
$harlequin-rgb: 15, 242, 7;

