$french-lilac: #eecef2;
$french-lilac-hsla: hsl(293, 58%, 88%);
$french-lilac-rgba: rgb(238, 206, 242);
$french-lilac-hsl: 293, 58%, 88%;
$french-lilac-rgb: 238, 206, 242;

$havelock-blue: #3d90d9;
$havelock-blue-hsla: hsl(208, 67%, 55%);
$havelock-blue-rgba: rgb(61, 144, 217);
$havelock-blue-hsl: 208, 67%, 55%;
$havelock-blue-rgb: 61, 144, 217;

$gulf-blue: #111c59;
$gulf-blue-hsla: hsl(231, 68%, 21%);
$gulf-blue-rgba: rgb(17, 28, 89);
$gulf-blue-hsl: 231, 68%, 21%;
$gulf-blue-rgb: 17, 28, 89;

$cobalt: #1747a6;
$cobalt-hsla: hsl(220, 76%, 37%);
$cobalt-rgba: rgb(23, 71, 166);
$cobalt-hsl: 220, 76%, 37%;
$cobalt-rgb: 23, 71, 166;

$tangaroa: #0c1940;
$tangaroa-hsla: hsl(225, 68%, 15%);
$tangaroa-rgba: rgb(12, 25, 64);
$tangaroa-hsl: 225, 68%, 15%;
$tangaroa-rgb: 12, 25, 64;


