$venice-blue: #0f5c8c;
$venice-blue-hsla: hsl(203, 81%, 30%);
$venice-blue-rgba: rgb(15, 92, 140);
$venice-blue-hsl: 203, 81%, 30%;
$venice-blue-rgb: 15, 92, 140;

$boston-blue: #1790bf;
$boston-blue-hsla: hsl(197, 79%, 42%);
$boston-blue-rgba: rgb(23, 144, 191);
$boston-blue-hsl: 197, 79%, 42%;
$boston-blue-rgb: 23, 144, 191;

$elephant: #0f3240;
$elephant-hsla: hsl(197, 62%, 15%);
$elephant-rgba: rgb(15, 50, 64);
$elephant-hsl: 197, 62%, 15%;
$elephant-rgb: 15, 50, 64;

$scooter: #22ccf2;
$scooter-hsla: hsl(191, 89%, 54%);
$scooter-rgba: rgb(34, 204, 242);
$scooter-hsl: 191, 89%, 54%;
$scooter-rgb: 34, 204, 242;

$aqua: #29f2f2;
$aqua-hsla: hsl(180, 89%, 55%);
$aqua-rgba: rgb(41, 242, 242);
$aqua-hsl: 180, 89%, 55%;
$aqua-rgb: 41, 242, 242;
