<!-- wp:template-part {"slug":"header","theme":"chance-theater","tagName":"header","className":"site-header"} /-->

<!-- wp:columns {"verticalAlignment":null,"style":{"spacing":{"blockGap":{"top":"0","left":"0"}},"border":{"top":{"width":"2px","color":"var:preset|color|romance"},"right":{"width":"0px","style":"none"},"bottom":{"width":"2px","color":"var:preset|color|romance"},"left":{"width":"0px","style":"none"}}}} -->
<div class="wp-block-columns" style="border-top-color:var(--wp--preset--color--romance);border-top-width:2px;border-right-style:none;border-right-width:0px;border-bottom-color:var(--wp--preset--color--romance);border-bottom-width:2px;border-left-style:none;border-left-width:0px"><!-- wp:column {"verticalAlignment":"stretch","width":"","style":{"shadow":"var:preset|shadow|inset","spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"hint-of-red"} -->
<div class="wp-block-column is-vertically-aligned-stretch has-hint-of-red-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;box-shadow:var(--wp--preset--shadow--inset)"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"60%","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"border":{"left":{"color":"var:preset|color|romance","width":"2px"},"right":{"color":"var:preset|color|romance","width":"2px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-column" style="border-right-color:var(--wp--preset--color--romance);border-right-width:2px;border-left-color:var(--wp--preset--color--romance);border-left-width:2px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:60%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-featured-image /-->

<!-- wp:post-title {"textAlign":"left","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"fontSize":"xxx-large"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"","style":{"shadow":"var:preset|shadow|inset"},"backgroundColor":"hint-of-red"} -->
<div class="wp-block-column has-hint-of-red-background-color has-background" style="box-shadow:var(--wp--preset--shadow--inset)"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"verticalAlignment":null,"metadata":{"blockVisibility":false},"style":{"spacing":{"blockGap":{"top":"0","left":"0"}},"border":{"top":{"color":"var:preset|color|ebony","width":"2px"},"right":{"width":"0px","style":"none"},"bottom":{"color":"var:preset|color|ebony","width":"2px"},"left":{"width":"0px","style":"none"}}}} -->
<div class="wp-block-columns" style="border-top-color:var(--wp--preset--color--ebony);border-top-width:2px;border-right-style:none;border-right-width:0px;border-bottom-color:var(--wp--preset--color--ebony);border-bottom-width:2px;border-left-style:none;border-left-width:0px"><!-- wp:column {"verticalAlignment":"stretch","width":"","style":{"shadow":"var:preset|shadow|inset","spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;box-shadow:var(--wp--preset--shadow--inset)"></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"border":{"left":{"color":"var:preset|color|ebony","width":"2px"},"right":{"color":"var:preset|color|ebony","width":"2px"}}},"backgroundColor":"hint-of-red","layout":{"type":"constrained","contentSize":"1140px"}} -->
<div class="wp-block-column has-hint-of-red-background-color has-background" style="border-right-color:var(--wp--preset--color--ebony);border-right-width:2px;border-left-color:var(--wp--preset--color--ebony);border-left-width:2px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:post-featured-image /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"","style":{"shadow":"var:preset|shadow|inset"}} -->
<div class="wp-block-column" style="box-shadow:var(--wp--preset--shadow--inset)"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--50)"></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"chance-theater","tagName":"footer","className":"site-footer"} /-->
