<!-- wp:template-part {"slug":"header","theme":"chance-ollie","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"is-style-no-padding","style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group is-style-no-padding" style="margin-top:0;margin-bottom:0;padding-right:0;padding-left:0"><!-- wp:group {"align":"full","className":"hover-invert-white-bg","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"},"margin":{"top":"0","bottom":"0"}},"border":{"bottom":{"width":"2px"}}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignfull hover-invert-white-bg" style="border-bottom-width:2px;margin-top:0;margin-bottom:0;padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"fontSize":"huge","fontFamily":"secondary"} /--></div>
  <!-- /wp:group -->

  <!-- wp:post-content {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20","bottom":"0","top":"0"},"blockGap":"0"},"color":{"background":"#ffffff00"}},"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:block {"ref":63796,"metadata":{"blockVisibility":false}} /-->

<!-- wp:template-part {"slug":"footer","theme":"chance-ollie","tagName":"footer","className":"site-footer"} /-->