<!-- Title: Season Page -->
<!-- wp:block {"ref":98118} /-->

<!-- wp:block {"ref":98137} /-->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"},"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30);padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:heading -->
  <h2 class="wp-block-heading"><span class="text-primary">Included in your Subscribing Membership</span></h2>
  <!-- /wp:heading -->

  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group"><!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading"><span class="text-muted">2026 Main Series</span></h3>
    <!-- /wp:heading -->

    <!-- wp:query {"queryId":11,"query":{"perPage":5,"pages":0,"offset":"0","postType":"ct-production","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[],"season":[367],"series":[384]},"parents":[],"format":[]},"metadata":{"categories":[],"patternName":"core/block/65355","name":"Season Row"}} -->
    <div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"grid","columnCount":5}} -->
      <!-- wp:block {"ref":65353} /-->
      <!-- /wp:post-template -->

      <!-- wp:query-no-results -->
      <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
      <p>To be announced. Check back soon!</p>
      <!-- /wp:paragraph -->
      <!-- /wp:query-no-results -->
    </div>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group"><!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading"><span class="text-muted">2026 OTR New Play Reading Series</span></h3>
    <!-- /wp:heading -->

    <!-- wp:query {"queryId":11,"query":{"perPage":5,"pages":0,"offset":"0","postType":"ct-production","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"post_tag":[],"season":[367],"series":[385]},"parents":[],"format":[]},"metadata":{"categories":[],"patternName":"core/block/65355","name":"Season Row"}} -->
    <div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"grid","columnCount":5}} -->
      <!-- wp:block {"ref":65353} /-->
      <!-- /wp:post-template -->

      <!-- wp:query-no-results -->
      <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
      <p>To be announced. Check back soon!</p>
      <!-- /wp:paragraph -->
      <!-- /wp:query-no-results -->
    </div>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group"><!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading"><span class="text-muted">2026 TYA Family &amp; Holiday Series</span></h3>
    <!-- /wp:heading -->

    <!-- wp:query {"queryId":11,"query":{"perPage":5,"pages":0,"offset":"0","postType":"ct-production","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"series":[382,383],"season":[367]},"parents":[],"format":[]},"metadata":{"categories":[],"patternName":"core/block/65355","name":"Season Row"}} -->
    <div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"grid","columnCount":5}} -->
      <!-- wp:block {"ref":65353} /-->
      <!-- /wp:post-template -->

      <!-- wp:query-no-results -->
      <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
      <p>To be announced. Check back soon!</p>
      <!-- /wp:paragraph -->
      <!-- /wp:query-no-results -->
    </div>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"fontSize":"xxx-large","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"bottom"}} -->
  <div class="wp-block-group has-xxx-large-font-size"><!-- wp:heading {"fontSize":"xxx-large"} -->
    <h2 class="wp-block-heading has-xxx-large-font-size"><span class="text-muted">Main Series</span></h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.7"}},"fontSize":"x-large"} -->
    <p class="has-x-large-font-size" style="line-height:1.7"><span class="text-primary">of exciting plays and musicals</span></p>
    <!-- /wp:paragraph -->
  </div>
  <!-- /wp:group -->

  <!-- wp:heading {"level":3} -->
  <h3 class="wp-block-heading">2026 Season Producers, Bette &amp; Wylie Aitken</h3>
  <!-- /wp:heading -->

  <!-- wp:heading {"level":3,"fontSize":"large"} -->
  <h3 class="wp-block-heading has-large-font-size">2026 Associate Season Producers, The Family of Mary Kay Fyda-Mar</h3>
  <!-- /wp:heading -->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"fontSize":"xxx-large","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"bottom"}} -->
  <div class="wp-block-group has-xxx-large-font-size"><!-- wp:heading {"fontSize":"xxx-large"} -->
    <h2 class="wp-block-heading has-xxx-large-font-size"><span class="text-muted">OTR Reading Series</span></h2>
    <!-- /wp:heading -->

    <!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.7"}},"fontSize":"x-large"} -->
    <p class="has-x-large-font-size" style="line-height:1.7"><span class="text-primary">new play readings</span></p>
    <!-- /wp:paragraph -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:chance/production-details /-->