<!-- wp:template-part {"slug":"header","theme":"chance-ollie","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Supporter Grid"},"className":"supporter-grid is-style-default","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<main class="wp-block-group supporter-grid is-style-default" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:group {"metadata":{"name":"Info"},"className":"ct-info","style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"bottom"}} -->
  <div class="wp-block-group ct-info" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"left","verticalAlignment":"bottom"}} -->
    <div class="wp-block-group"><!-- wp:post-terms {"term":"supporter-level","className":"is-style-default","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"textTransform":"uppercase","textAlign":"right"},"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"textColor":"primary","fontSize":"body","fontFamily":"space-grotesk"} /-->

      <!-- wp:post-title {"level":1,"metadata":{"name":"Name"},"style":{"spacing":{"margin":{"right":"0","left":"0"}}},"fontSize":"xxx-large","fontFamily":"secondary"} /-->

      <!-- wp:chance/meta-field {"keyInput":"title","fontSize":"large"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"metadata":{"name":"Headshot"},"className":"ct-headshot is-style-no-padding","style":{"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"},"top":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"},"width":"2px"},"right":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"},"width":"2px"},"bottom":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"},"width":"0px","style":"none"},"left":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"},"width":"2px"}},"shadow":"var:preset|shadow|inset"},"layout":{"type":"constrained","justifyContent":"left"}} -->
  <div class="wp-block-group ct-headshot is-style-no-padding" style="border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;border-top-width:2px;border-right-width:2px;border-bottom-style:none;border-bottom-width:0px;border-left-width:2px;box-shadow:var(--wp--preset--shadow--inset)"><!-- wp:post-featured-image {"aspectRatio":"1","width":"250px","metadata":{"name":"Headshot"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|large","right":"var:preset|spacing|40","bottom":"var:preset|spacing|large","left":"0"}},"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"},"width":"0px","style":"none"},"shadow":"var:preset|shadow|card"}} /--></div>
  <!-- /wp:group -->

  <!-- wp:group {"metadata":{"name":"Bio"},"className":"ct-bio","style":{"border":{"top":{"width":"2px"},"right":{"width":"2px"},"bottom":{"width":"2px"},"left":{"width":"0px","style":"none"}},"shadow":"none","spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"css":"width:100%;"},"backgroundColor":"pure-white","layout":{"type":"constrained"}} -->
  <div class="wp-block-group ct-bio has-custom-css has-pure-white-background-color has-background" style="border-top-width:2px;border-right-width:2px;border-bottom-width:2px;border-left-style:none;border-left-width:0px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;box-shadow:none"><!-- wp:post-content {"metadata":{"name":"Bio"},"style":{"css":"box-shadow:none;","spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"color":{"background":"#ffffff00"}},"layout":{"type":"default"}} /--></div>
  <!-- /wp:group -->

  <!-- wp:group {"tagName":"aside","metadata":{"name":"Credits"},"className":"credits","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"},"elements":{"link":{"color":{"text":"var:preset|color|pure-white"}}},"border":{"width":"2px"}},"backgroundColor":"dark-green","textColor":"pure-white","borderColor":"black","layout":{"type":"constrained","justifyContent":"left"}} -->
  <aside class="wp-block-group credits has-border-color has-black-border-color has-pure-white-color has-dark-green-background-color has-text-color has-background has-link-color" style="border-width:2px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"className":"is-style-no-padding","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"shadow":"var:preset|shadow|card"},"backgroundColor":"black","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"center","justifyContent":"left"}} -->
    <div class="wp-block-group is-style-no-padding has-black-background-color has-background" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30);box-shadow:var(--wp--preset--shadow--card)"><!-- wp:heading {"style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"500"},"spacing":{"margin":{"right":"var:preset|spacing|20"}}},"fontSize":"large"} -->
      <h2 class="wp-block-heading has-large-font-size" style="margin-right:var(--wp--preset--spacing--20);font-style:normal;font-weight:500;text-transform:uppercase">Productions</h2>
      <!-- /wp:heading -->

      <!-- wp:paragraph {"fontSize":"body"} -->
      <p class="has-body-font-size"><em>at the Chance</em></p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:chance/artist-credits {"align":"left"} /--></div>
    <!-- /wp:group -->
  </aside>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"chance-ollie","tagName":"footer","className":"site-footer"} /-->