<!-- wp:template-part {"slug":"header","theme":"chance-ollie","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Content"},"style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"align":"full","style":{"shadow":"var:preset|shadow|card","spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"dark-blue","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-dark-blue-background-color has-background" style="margin-top:0;margin-bottom:0;box-shadow:var(--wp--preset--shadow--card)"><!-- wp:group {"className":"ct-hover-invert","style":{"spacing":{"blockGap":"var:preset|spacing|60","padding":{"top":"var:preset|spacing|50","bottom":"0","left":"var:preset|spacing|20"},"margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|pure-white"}}},"shadow":"var:preset|shadow|subtle"},"backgroundColor":"dark-blue","textColor":"pure-white","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"bottom","justifyContent":"space-between"}} -->
<div class="wp-block-group ct-hover-invert has-pure-white-color has-dark-blue-background-color has-text-color has-background has-link-color" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-bottom:0;padding-left:var(--wp--preset--spacing--20);box-shadow:var(--wp--preset--shadow--subtle)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40","padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"bottom"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--30)"><!-- wp:post-terms {"term":"series","suffix":" Series","className":"is-style-default"} /-->

<!-- wp:post-terms {"term":"season","separator":"","suffix":" Season"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:group {"metadata":{"name":"Season Producers"},"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"columnSpan":1,"rowSpan":1}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":3,"className":"is-style-uppercase","style":{"typography":{"lineHeight":"1.2","fontStyle":"normal","fontWeight":"600","textAlign":"left"},"elements":{"link":{"color":{"text":"var:preset|color|lightest-grey"}}}},"textColor":"lightest-grey","fontSize":"base"} -->
<h3 class="wp-block-heading has-text-align-left is-style-uppercase has-lightest-grey-color has-text-color has-link-color has-base-font-size" style="font-style:normal;font-weight:600;line-height:1.2">Season Producers</h3>
<!-- /wp:heading -->

<!-- wp:chance/season-producer {"align":"center"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Associate Season Producers"},"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"columnSpan":1,"rowSpan":1}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":3,"className":"is-style-uppercase","style":{"typography":{"lineHeight":"1.2","fontStyle":"normal","fontWeight":"600","textAlign":"left"},"elements":{"link":{"color":{"text":"var:preset|color|lightest-grey"}}}},"textColor":"lightest-grey","fontSize":"base"} -->
<h3 class="wp-block-heading has-text-align-left is-style-uppercase has-lightest-grey-color has-text-color has-link-color has-base-font-size" style="font-style:normal;font-weight:600;line-height:1.2">Associate season Producers</h3>
<!-- /wp:heading -->

<!-- wp:chance/season-producer {"metaKey":"associate_season_producers","align":"center"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Production Grid"},"className":"production-grid","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group production-grid" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"metadata":{"name":"Header"},"className":"production-header","style":{"spacing":{"blockGap":"0","padding":{"bottom":"0","right":"0","top":"0","left":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group production-header" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"className":"is-style-no-padding","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group is-style-no-padding"><!-- wp:group {"metadata":{"categories":[],"name":"Dates"},"className":"prod-header-dates","style":{"spacing":{"blockGap":"var:preset|spacing|20","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"fontSize":"medium","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"center"}} -->
<div class="wp-block-group prod-header-dates has-medium-font-size" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:chance/meta-date {"keyInput":"opening","dateFormat":"F j","metadata":{"name":"Opening"}} /-->

<!-- wp:paragraph {"metadata":{"name":"-"},"style":{"typography":{"textTransform":"uppercase","lineHeight":"1.5"}}} -->
<p style="line-height:1.5;text-transform:uppercase">-</p>
<!-- /wp:paragraph -->

<!-- wp:chance/meta-date {"keyInput":"closing","dateFormat":"F j","metadata":{"name":"Closing"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:chance/meta-repeater {"repeaterKey":"play_awards","subfields":"award","tagName":"div","subfieldA":"lead","subfieldB":"text","metadata":{"name":"Accolades"},"align":"right","className":"prod-header-awards ct-accolades","style":{"spacing":{"blockGap":"0"}}} /-->

<!-- wp:post-title {"textAlign":"left","level":1,"className":"prod-header-title","fontSize":"xxx-large","fontFamily":"secondary"} /-->

<!-- wp:heading {"metadata":{"name":"Subtitle"}} -->
<h2 class="wp-block-heading"></h2>
<!-- /wp:heading -->

<!-- wp:chance/meta-repeater {"repeaterKey":"bylines","subfields":"byline","tagName":"div","subfieldA":"lead","subfieldB":"text","tagA":"li","metadata":{"name":"Bylines"},"className":"prod-header-bylines","style":{"css":"text-wrap:balance;\nspan{margin-top: 5px;}"},"fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:quote {"metadata":{"name":"Featured Quote"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|40","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"css":"text-wrap:balance;"}} -->
<blockquote class="wp-block-quote has-custom-css" style="margin-top:var(--wp--preset--spacing--30);margin-right:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--40);margin-left:var(--wp--preset--spacing--30);padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:paragraph {"metadata":{"name":"Quote","bindings":{"content":{"source":"core/post-meta","args":{"key":"featured_quote_text"}}}},"className":"quote","style":{"typography":{"fontStyle":"normal","fontWeight":"400","textTransform":"none"},"css":"text-wrap:balance;"},"fontSize":"medium"} -->
<p class="quote has-custom-css has-medium-font-size" style="font-style:normal;font-weight:400;text-transform:none">Lorem ipsum quotes text.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"metadata":{"name":"Cite","bindings":{"content":{"source":"core/post-meta","args":{"key":"featured_quote_cite"}}}},"className":"cite","style":{"typography":{"fontStyle":"normal","fontWeight":"700","textTransform":"uppercase","letterSpacing":"1px"}},"fontSize":"small","fontFamily":"gabarito"} -->
<p class="cite has-gabarito-font-family has-small-font-size" style="font-style:normal;font-weight:700;letter-spacing:1px;text-transform:uppercase">Lorem ipsum quotes text.</p>
<!-- /wp:paragraph --></blockquote>
<!-- /wp:quote -->

<!-- wp:group {"metadata":{"name":"Tickets","blockVisibility":false},"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:columns {"metadata":{"blockVisibility":false}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:buttons {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-buttons" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:button {"className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button">Free for Members</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:chance/popup {"buttonText":"Get Tickets","metadata":{"name":"Get Tickets"},"className":"wp-block-chance-popup"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:chance/meta-field {"keyInput":"ticket_note","metadata":{"name":"Ticket note"}} /-->

<!-- wp:paragraph -->
<p><i>Bronze+ Members can reserve anytime on the hotline.</i></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><em>Not a member? </em><strong><a href="https://chancetheater.dev/subscribe" target="_blank" rel="noopener">» See this show for free when you Subscribe for $15/month!</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"production-producers","style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group production-producers" style="padding-top:0;padding-right:var(--wp--preset--spacing--30);padding-bottom:0;padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"metadata":{"name":"Producers"},"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|40","padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"shadow":"none"},"fontSize":"base","layout":{"type":"grid","columnCount":2}} -->
<div class="wp-block-group alignfull has-base-font-size" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30);box-shadow:none"><!-- wp:group {"metadata":{"name":"Season Producers","blockVisibility":false},"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"columnSpan":1,"rowSpan":1}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":3,"style":{"typography":{"lineHeight":"1.2"}},"fontSize":"body"} -->
<h3 class="wp-block-heading has-body-font-size" style="line-height:1.2">Season Producers</h3>
<!-- /wp:heading -->

<!-- wp:chance/season-producer /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Associate Season Producers","blockVisibility":false},"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"columnSpan":1,"rowSpan":1}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":3,"style":{"typography":{"lineHeight":"1.2"}},"fontSize":"body"} -->
<h3 class="wp-block-heading has-body-font-size" style="line-height:1.2">Associate Season Producers</h3>
<!-- /wp:heading -->

<!-- wp:chance/season-producer {"metaKey":"associate_season_producers"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Executive Producer"},"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"columnSpan":1,"rowSpan":1}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":4,"className":"is-style-uppercase","style":{"typography":{"lineHeight":"1.2"}},"fontSize":"base"} -->
<h4 class="wp-block-heading is-style-uppercase has-base-font-size" style="line-height:1.2">Executive Producers</h4>
<!-- /wp:heading -->

<!-- wp:chance/meta-repeater {"repeaterKey":"executive_producer","subfields":"name","tagName":"div","subfieldA":"name","headingLevel":"h4","metadata":{"name":"Executive Producer"}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Associate Producer"},"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"columnSpan":1,"rowSpan":1}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":4,"className":"is-style-uppercase","style":{"typography":{"lineHeight":"1.2"}},"fontSize":"base"} -->
<h4 class="wp-block-heading is-style-uppercase has-base-font-size" style="line-height:1.2">Associate Producer</h4>
<!-- /wp:heading -->

<!-- wp:chance/meta-repeater {"repeaterKey":"associate_producer","subfields":"name","tagName":"div","subfieldA":"name","headingLevel":"h4","metadata":{"name":"Associate Producer"}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Corporate Sponsor"},"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"columnSpan":1,"rowSpan":1}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":4,"className":"is-style-uppercase","style":{"typography":{"lineHeight":"1.2"}},"fontSize":"base"} -->
<h4 class="wp-block-heading is-style-uppercase has-base-font-size" style="line-height:1.2">Corporate Sponsor</h4>
<!-- /wp:heading -->

<!-- wp:chance/meta-repeater {"repeaterKey":"corporate_producer","subfields":"name","tagName":"div","subfieldA":"name","headingLevel":"h4","metadata":{"name":"Corporate Sponsor"}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Supporting Producer"},"style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"layout":{"columnSpan":1,"rowSpan":1}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":4,"className":"is-style-uppercase","style":{"typography":{"lineHeight":"1.2"}},"fontSize":"base"} -->
<h4 class="wp-block-heading is-style-uppercase has-base-font-size" style="line-height:1.2">Supporting Producer</h4>
<!-- /wp:heading -->

<!-- wp:chance/meta-repeater {"repeaterKey":"supporting_producer","subfields":"name","tagName":"div","subfieldA":"name","headingLevel":"h4","metadata":{"name":"Supporting Producer"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Image"},"className":"production-image","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group production-image" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:post-featured-image {"aspectRatio":"3/4","scale":"contain","metadata":{"blockVisibility":false},"style":{"border":{"radius":{"topLeft":"var:preset|border-radius|small","topRight":"var:preset|border-radius|small","bottomLeft":"var:preset|border-radius|small","bottomRight":"var:preset|border-radius|small"}},"shadow":"var:preset|shadow|card"}} /-->

<!-- wp:image {"metadata":{"bindings":{"url":{"source":"core/post-meta","args":{"key":"production_poster"}}},"blockVisibility":false}} -->
<figure class="wp-block-image"><img alt="Production Poster."/></figure>
<!-- /wp:image -->

<!-- wp:chance/meta-image {"keyInput":"production_poster","linkTo":"media","openInNewTab":true,"style":{"shadow":"none"},"anchor":"poster"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"production-tickets","layout":{"type":"constrained"}} -->
<div class="wp-block-group production-tickets"><!-- wp:chance/meta-field {"keyInput":"ticket_note","metadata":{"name":"Ticket note"}} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"fontSize":"base","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-base-font-size" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:buttons {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","orientation":"horizontal","flexWrap":"nowrap"}} -->
<div class="wp-block-buttons" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:button {"className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link wp-element-button">Free for Members</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:chance/popup {"buttonText":"Get Tickets","metadata":{"name":"Get Tickets"},"className":"wp-block-chance-popup"} /--></div>
<!-- /wp:group -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><i>Bronze+ Members can reserve anytime on the hotline.</i> <em>Not a member? </em><strong><a href="https://chancetheater.dev/subscribe" target="_blank" rel="noopener">» See this show for free when you Subscribe for $15/month!</a></strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Content"},"align":"wide","className":"production-content","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide production-content" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"right":"0","left":"0","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"},"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:0;padding-bottom:var(--wp--preset--spacing--30);padding-left:0"><!-- wp:chance/meta-related {"keyInput":"venue","linkToPost":true,"prepend":"At ","style":{"css":"font-style:italic;"},"fontSize":"medium"} /-->

<!-- wp:chance/meta-field {"keyInput":"venue_room","prepend":"On the ","append":" stage... ","hideIfEmpty":true,"style":{"css":"font-style:italic;\ntext-transform: capitalize;"}} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"wide","style":{"color":{"background":"#fcfcf700"},"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"default"}} /-->

<!-- wp:chance/production-quotes /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":4,"style":{"typography":{"textAlign":"left"}}} -->
<h4 class="wp-block-heading has-text-align-left">Community Partners</h4>
<!-- /wp:heading -->

<!-- wp:chance/meta-field {"metadata":{"name":"Community Supporters"}} /-->

<!-- wp:chance/meta-image {"keyInput":"community_supporters_logo"} /-->

<!-- wp:paragraph {"style":{"typography":{"textAlign":"left"}}} -->
<p class="has-text-align-left">Interested in becoming a Community Partner? Find out more <a href="https://chancetheater.dev/support/communitypartner/" target="_blank" rel="noopener"><strong>HERE</strong></a>!</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"typography":{"textAlign":"left"}}} -->
<p class="has-text-align-left"><small>Show artwork designed by KC Wilkerson, <a href="https://kcwdigital.com" target="_blank" rel="noopener noreferrer">kcwdigital.com</a>.</small></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Info"},"align":"wide","style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"metadata":{"blockVisibility":false},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>[quotes-repeater]</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"blockVisibility":false},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>[community-partners]</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:accordion {"style":{"spacing":{"blockGap":"0"}}} -->
<div role="group" class="wp-block-accordion"><!-- wp:accordion-item {"openByDefault":true,"metadata":{"name":"Info","blockVisibility":false}} -->
<div class="wp-block-accordion-item is-open"><!-- wp:accordion-heading {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}}} -->
<h3 class="wp-block-accordion-heading"><button type="button" class="wp-block-accordion-heading__toggle" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--30)"><span class="wp-block-accordion-heading__toggle-title">Info</span><span class="wp-block-accordion-heading__toggle-icon" aria-hidden="true">+</span></button></h3>
<!-- /wp:accordion-heading -->

<!-- wp:accordion-panel {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} -->
<div role="region" class="wp-block-accordion-panel" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:accordion-panel --></div>
<!-- /wp:accordion-item -->

<!-- wp:accordion-item {"openByDefault":true,"metadata":{"name":"Video"}} -->
<div class="wp-block-accordion-item is-open"><!-- wp:accordion-heading {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
<h3 class="wp-block-accordion-heading"><button type="button" class="wp-block-accordion-heading__toggle" style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><span class="wp-block-accordion-heading__toggle-title">Video Trailer</span><span class="wp-block-accordion-heading__toggle-icon" aria-hidden="true">+</span></button></h3>
<!-- /wp:accordion-heading -->

<!-- wp:accordion-panel {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div role="region" class="wp-block-accordion-panel" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:embed {"url":"https://www.youtube.com/watch?v=aD42fHn9XXc","type":"video","providerNameSlug":"youtube","responsive":true,"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
https://www.youtube.com/watch?v=aD42fHn9XXc
</div></figure>
<!-- /wp:embed -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:accordion-panel --></div>
<!-- /wp:accordion-item -->

<!-- wp:accordion-item {"metadata":{"name":"Content Advisory"}} -->
<div class="wp-block-accordion-item"><!-- wp:accordion-heading {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
<h3 class="wp-block-accordion-heading"><button type="button" class="wp-block-accordion-heading__toggle" style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><span class="wp-block-accordion-heading__toggle-title">Content Advisory</span><span class="wp-block-accordion-heading__toggle-icon" aria-hidden="true">+</span></button></h3>
<!-- /wp:accordion-heading -->

<!-- wp:accordion-panel -->
<div role="region" class="wp-block-accordion-panel"><!-- wp:group {"metadata":{"name":"Content Advisory"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"core/post-meta","args":{"key":"content_advisory"}}}}} -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:chance/popup {"buttonText":"Spoilers \u0026 Warnings","metadata":{"name":"Spoilers"},"className":"wp-block-chance-popup"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:accordion-panel --></div>
<!-- /wp:accordion-item -->

<!-- wp:accordion-item {"metadata":{"name":"Special Events"}} -->
<div class="wp-block-accordion-item"><!-- wp:accordion-heading {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
<h3 class="wp-block-accordion-heading"><button type="button" class="wp-block-accordion-heading__toggle" style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><span class="wp-block-accordion-heading__toggle-title">Special Events</span><span class="wp-block-accordion-heading__toggle-icon" aria-hidden="true">+</span></button></h3>
<!-- /wp:accordion-heading -->

<!-- wp:accordion-panel -->
<div role="region" class="wp-block-accordion-panel"><!-- wp:query {"queryId":58,"query":{"perPage":3,"pages":"5","offset":0,"postType":"event","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:post-featured-image {"aspectRatio":"1","height":"200px","style":{"layout":{"selfStretch":"fill","flexSize":null}}} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="padding-top:0;padding-bottom:0"><!-- wp:post-title {"level":4,"isLink":true,"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"0","right":"var:preset|spacing|20"}}},"fontSize":"large"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20","padding":{"right":"0","left":"0","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--20);padding-right:0;padding-bottom:var(--wp--preset--spacing--20);padding-left:0"><!-- wp:chance/meta-date {"keyInput":"date","dateFormat":"custom","customFormat":"M j,"} /-->

<!-- wp:chance/meta-time {"keyInput":"start","timeFormat":"g:i A","metadata":{"name":"Start"}} /-->

<!-- wp:chance/meta-time {"keyInput":"end","timeFormat":"g:i A","metadata":{"name":"End"}} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"moreText":"More about this event.","showMoreOnNewLine":false,"excerptLength":28,"className":"is-style-excerpt-truncate-3"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p>TBA, check back soon!</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:accordion-panel --></div>
<!-- /wp:accordion-item -->

<!-- wp:accordion-item {"metadata":{"name":"Photos"}} -->
<div class="wp-block-accordion-item"><!-- wp:accordion-heading {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
<h3 class="wp-block-accordion-heading"><button type="button" class="wp-block-accordion-heading__toggle" style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><span class="wp-block-accordion-heading__toggle-title">Photos</span><span class="wp-block-accordion-heading__toggle-icon" aria-hidden="true">+</span></button></h3>
<!-- /wp:accordion-heading -->

<!-- wp:accordion-panel -->
<div role="region" class="wp-block-accordion-panel"><!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Production Photos</h4>
<!-- /wp:heading -->

<!-- wp:chance/meta-gallery {"metaKey":"production_photos","fallbackText":"No photos yet, check back soon!","metadata":{"name":"Production Photos"}} -->
<figure class="wp-block-chance-meta-gallery has-nested-images columns-default is-cropped"></figure>
<!-- /wp:chance/meta-gallery -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Rehearsal Photos</h4>
<!-- /wp:heading -->

<!-- wp:chance/meta-gallery {"metaKey":"rehearsal_photos","fallbackText":"No photos yet, check back soon!","metadata":{"name":"Rehearsal Photos"}} -->
<figure class="wp-block-chance-meta-gallery has-nested-images columns-default is-cropped"></figure>
<!-- /wp:chance/meta-gallery --></div>
<!-- /wp:accordion-panel --></div>
<!-- /wp:accordion-item -->

<!-- wp:accordion-item {"metadata":{"name":"Buzz"}} -->
<div class="wp-block-accordion-item"><!-- wp:accordion-heading {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
<h3 class="wp-block-accordion-heading"><button type="button" class="wp-block-accordion-heading__toggle" style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><span class="wp-block-accordion-heading__toggle-title">Buzz</span><span class="wp-block-accordion-heading__toggle-icon" aria-hidden="true">+</span></button></h3>
<!-- /wp:accordion-heading -->

<!-- wp:accordion-panel -->
<div role="region" class="wp-block-accordion-panel"><!-- wp:group {"metadata":{"name":"Buzz"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":136,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"ignore","inherit":false,"taxQuery":null,"parents":[],"format":[]},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:post-title {"level":5,"isLink":true,"fontSize":"medium"} /-->

<!-- wp:post-date {"format":"M j, Y","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"className":"no-word-wrap","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"moreText":"Read More","excerptLength":42,"className":"is-style-excerpt-truncate-2","fontSize":"small"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"left"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p>No related posts.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:accordion-panel --></div>
<!-- /wp:accordion-item -->

<!-- wp:accordion-item {"metadata":{"name":"Venue","blockVisibility":false}} -->
<div class="wp-block-accordion-item"><!-- wp:accordion-heading {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
<h3 class="wp-block-accordion-heading"><button type="button" class="wp-block-accordion-heading__toggle" style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><span class="wp-block-accordion-heading__toggle-title">Venue</span><span class="wp-block-accordion-heading__toggle-icon" aria-hidden="true">+</span></button></h3>
<!-- /wp:accordion-heading -->

<!-- wp:accordion-panel -->
<div role="region" class="wp-block-accordion-panel"><!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:accordion-panel --></div>
<!-- /wp:accordion-item --></div>
<!-- /wp:accordion --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Sidebar"},"className":"production-sidebar","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group production-sidebar" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"metadata":{"name":"Upcoming Performances"},"className":"ct-upcoming-performances","layout":{"type":"constrained"}} -->
<div class="wp-block-group ct-upcoming-performances"><!-- wp:heading {"level":3,"className":"is-style-uppercase","style":{"typography":{"fontStyle":"normal","fontWeight":"500","textTransform":"uppercase","textAlign":"left"}},"fontSize":"medium"} -->
<h3 class="wp-block-heading has-text-align-left is-style-uppercase has-medium-font-size" style="font-style:normal;font-weight:500;text-transform:uppercase">Performances</h3>
<!-- /wp:heading -->

<!-- wp:chance/performances-list /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Running Time"},"className":"ct-running-time","layout":{"type":"constrained"}} -->
<div class="wp-block-group ct-running-time"><!-- wp:heading {"level":3,"className":"is-style-uppercase","style":{"typography":{"fontStyle":"normal","fontWeight":"500","textTransform":"uppercase","textAlign":"left"}},"fontSize":"medium"} -->
<h3 class="wp-block-heading has-text-align-left is-style-uppercase has-medium-font-size" style="font-style:normal;font-weight:500;text-transform:uppercase">Approximate Running Time</h3>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:chance/meta-field {"keyInput":"runtime","append":" minutes, ","metadata":{"name":"Runtime"},"align":"right"} /-->

<!-- wp:chance/meta-field {"keyInput":"intermissions","prepend":" with ","append":" intermission","metadata":{"name":"Intermission"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Show Notes"},"className":"ct-show-notes","style":{"spacing":{"blockGap":"var:preset|spacing|20","padding":{"top":"0","bottom":"0","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group ct-show-notes" style="padding-top:0;padding-right:var(--wp--preset--spacing--30);padding-bottom:0;padding-left:var(--wp--preset--spacing--30)"><!-- wp:heading {"level":3,"className":"is-style-uppercase","style":{"typography":{"fontStyle":"normal","fontWeight":"500","textTransform":"uppercase","textAlign":"left"}},"fontSize":"medium"} -->
<h3 class="wp-block-heading has-text-align-left is-style-uppercase has-medium-font-size" style="font-style:normal;font-weight:500;text-transform:uppercase">Notes</h3>
<!-- /wp:heading -->

<!-- wp:group {"metadata":{"name":"Note"},"style":{"spacing":{"blockGap":"5px","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:chance/meta-icon {"keyInput":"notes_1_icon","iconSize":20,"metadata":{"name":"Icon"}} /-->

<!-- wp:chance/meta-field {"keyInput":"notes_1_note","metadata":{"name":"Note"},"className":"nowrap ","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Note"},"style":{"spacing":{"blockGap":"5px","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:chance/meta-icon {"keyInput":"notes_2_icon","iconSize":20,"metadata":{"name":"Icon"}} /-->

<!-- wp:chance/meta-field {"keyInput":"notes_2_note","metadata":{"name":"Note"},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Note"},"style":{"spacing":{"blockGap":"5px","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:chance/meta-icon {"keyInput":"notes_3_icon","iconSize":20,"metadata":{"name":"Icon"}} /-->

<!-- wp:chance/meta-field {"keyInput":"notes_3_note","metadata":{"name":"Note"},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Note"},"style":{"spacing":{"blockGap":"5px","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:chance/meta-icon {"keyInput":"notes_4_icon","iconSize":20,"metadata":{"name":"Icon"}} /-->

<!-- wp:chance/meta-field {"keyInput":"notes_4_note","metadata":{"name":"Note"},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Note"},"style":{"spacing":{"blockGap":"5px","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:chance/meta-icon {"keyInput":"notes_5_icon","iconSize":20,"metadata":{"name":"Icon"}} /-->

<!-- wp:chance/meta-field {"keyInput":"notes_5_note","metadata":{"name":"Note"},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Note"},"style":{"spacing":{"blockGap":"5px","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:chance/meta-icon {"keyInput":"notes_6_icon","iconSize":20,"metadata":{"name":"Icon"}} /-->

<!-- wp:chance/meta-field {"keyInput":"notes_6_note","metadata":{"name":"Note"},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Note"},"style":{"spacing":{"blockGap":"5px","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:chance/meta-icon {"keyInput":"notes_7_icon","iconSize":20,"metadata":{"name":"Icon"}} /-->

<!-- wp:chance/meta-field {"keyInput":"notes_7_note","metadata":{"name":"Note"},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Note"},"style":{"spacing":{"blockGap":"5px","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:chance/meta-icon {"keyInput":"notes_8_icon","iconSize":20,"metadata":{"name":"Icon"}} /-->

<!-- wp:chance/meta-field {"keyInput":"notes_8_note","metadata":{"name":"Note"},"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Note"},"style":{"spacing":{"blockGap":"5px","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:chance/meta-icon {"keyInput":"notes_9_icon","iconSize":20,"metadata":{"name":"Icon"}} /-->

<!-- wp:chance/meta-field {"keyInput":"notes_9_note","metadata":{"name":"Note"},"fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Credits"},"className":"production-credits","layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group production-credits"><!-- wp:heading {"style":{"typography":{"textAlign":"left"}},"fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-align-left has-x-large-font-size">Featured Artists</h2>
<!-- /wp:heading -->

<!-- wp:group {"metadata":{"name":"Cast"},"className":"production-cast","style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group production-cast" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":4,"style":{"typography":{"fontStyle":"normal","fontWeight":"400","textTransform":"uppercase","letterSpacing":"1px","textAlign":"left"}},"fontSize":"medium"} -->
<h4 class="wp-block-heading has-text-align-left has-medium-font-size" style="font-style:normal;font-weight:400;letter-spacing:1px;text-transform:uppercase">Cast</h4>
<!-- /wp:heading -->

<!-- wp:chance/production-credits {"roleGroup":"cast"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Team"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":3,"style":{"typography":{"fontStyle":"normal","fontWeight":"400","textTransform":"uppercase","letterSpacing":"1px","textAlign":"left"}},"fontSize":"medium"} -->
<h3 class="wp-block-heading has-text-align-left has-medium-font-size" style="font-style:normal;font-weight:400;letter-spacing:1px;text-transform:uppercase">Team</h3>
<!-- /wp:heading -->

<!-- wp:chance/production-credits {"roleGroup":"team"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Partners"},"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"style":{"typography":{"textAlign":"left"}},"fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-align-left has-x-large-font-size">Partners</h2>
<!-- /wp:heading -->

<!-- wp:chance/production-credits {"roleGroup":"partner"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments","theme":"chance-ollie","area":"uncategorized"} /-->

<!-- wp:block {"ref":63796} /-->

<!-- wp:chance/production-tabs -->
<div class="wp-block-chance-production-tabs"></div>
<!-- /wp:chance/production-tabs -->

<!-- wp:template-part {"slug":"footer","theme":"chance-ollie","tagName":"footer","className":"site-footer"} /-->
