<!-- Title: Single Supporter -->

<!-- wp:template-part {"slug":"header","theme":"chance-ollie","tagName":"header","className":"site-header"} /-->

<!-- wp:columns {"verticalAlignment":"top","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns are-vertically-aligned-top" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:column {"verticalAlignment":"top","width":"33.33%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:33.33%"><!-- wp:group {"align":"wide","style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"constrained","justifyContent":"right"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-featured-image {"aspectRatio":"1","width":"250px","metadata":{"name":"Headshot"},"align":"wide","style":{"border":{"radius":{"topLeft":"0","topRight":"0","bottomLeft":"0","bottomRight":"0"},"width":"2px"},"shadow":"var:preset|shadow|card","css":"justify-self:flex-end;","layout":{"columnSpan":2}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"66.67%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:66.67%"><!-- wp:group {"metadata":{"name":"Info"},"className":"ct-supporter-info","layout":{"type":"flex","orientation":"vertical","justifyContent":"left","verticalAlignment":"bottom"}} -->
<div class="wp-block-group ct-supporter-info"><!-- wp:post-terms {"term":"supporter-level","className":"is-style-default","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"textTransform":"uppercase","textAlign":"right"},"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"textColor":"primary","fontSize":"body","fontFamily":"space-grotesk"} /-->

<!-- wp:post-title {"textAlign":"right","level":1,"metadata":{"name":"Name"},"style":{"spacing":{"margin":{"right":"0","left":"0"}}},"fontSize":"xxx-large","fontFamily":"secondary"} /-->

<!-- wp:chance/meta-field {"keyInput":"title","metadata":{"name":"Title"},"fontSize":"large"} /-->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->

<!-- wp:post-content {"tagName":"main","style":{"layout":{"columnSpan":2},"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","theme":"chance-ollie","tagName":"footer","className":"site-footer"} /-->
