<!-- wp:template-part {"slug":"header","theme":"chance-theater","tagName":"header","className":"site-header"} /-->

<!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|ebony"}}}},"backgroundColor":"hint-of-red","textColor":"ebony"} -->
<div class="wp-block-columns has-ebony-color has-hint-of-red-background-color has-text-color has-background has-link-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"width":"33%","style":{"color":{"background":"#131113"}}} -->
<div class="wp-block-column has-background" style="background-color:#131113;flex-basis:33%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained","justifyContent":"right"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:post-title {"textAlign":"right","level":1,"fontFamily":"secondary"} /-->

<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"var:preset|spacing|large","right":"var:preset|spacing|large","bottom":"var:preset|spacing|large","left":"var:preset|spacing|large"}},"color":{"duotone":"var:preset|duotone|accent-duo"}}} /-->

<!-- wp:group {"layout":{"type":"grid","columnCount":2,"minimumColumnWidth":null}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category","textAlign":"right"} /-->

<!-- wp:post-terms {"term":"series","textAlign":"right"} /-->

<!-- wp:post-terms {"term":"post_tag","textAlign":"right"} /-->

<!-- wp:post-terms {"term":"season","textAlign":"right"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} -->
<div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:post-content {"align":"wide","textColor":"ebony","layout":{"type":"constrained"}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--xx-large);padding-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:cover {"url":"https://chancetheater.local/wp-content/uploads/2025/12/stage-lights-placeholder-2-scaled.jpeg","id":61648,"hasParallax":true,"dimRatio":60,"overlayColor":"custom-bg-al","isUserOverlayColor":true,"sizeSlug":"full","style":{"color":{"duotone":"var:preset|duotone|accent-duo"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover has-parallax"><div class="wp-block-cover__image-background wp-image-61648 size-full has-parallax" style="background-position:50% 50%;background-image:url(https://chancetheater.local/wp-content/uploads/2025/12/stage-lights-placeholder-2-scaled.jpeg)"></div><span aria-hidden="true" class="wp-block-cover__background has-custom-bg-al-background-color has-background-dim-60 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"center","fontSize":"large","fitText":true} -->
<h2 class="wp-block-heading has-text-align-center has-fit-text has-large-font-size">banner template (synced)</h2>
<!-- /wp:heading --></div></div>
<!-- /wp:cover --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"chance-theater","tagName":"footer","className":"site-footer"} /-->
