@use "scss/artist";
@use "scss/borders";
@use "scss/buttons";
@use "scss/cards";
@use "scss/entrances";
@use "scss/forms";
@use "scss/header";
@use "scss/home";
@use "scss/hover";
@use "scss/interactivity";
@use "scss/production";
@use "scss/scrollbar";
@use "scss/search";
@use "scss/tables";
@use "scss/typography";
// @use "scss/variables" as var;
@use "scss/wp-blocks";

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
