@use "scss/ct-variables" as var;

@import url("scss/ct-artist.scss");
@import url("scss/ct-buttons.scss");
@import url("scss/ct-forms.scss");
@import url("scss/ct-header.scss");
@import url("scss/ct-home.scss");
@import url("scss/ct-production.scss");
@import url("scss/ct-search.scss");
// @import url("scss/ct-supporter.scss");
@import url("scss/ct-tables.scss");
@import url("scss/ct-typography.scss");
@import url("scss/wp-blocks.scss");

.wp-site-blocks {
	--wp--preset--spacing--medium: var(--wp--preset--spacing--40);
}

//  EVENTUALLY MOVE TO THEME.JSON
.wp-block-pullquote {
	border-left: 4px solid var(--wp--preset--color--primary);
	padding-left: 1rem;
}

.wp-block-media-text .wp-block-media-text__media > img {
	border-radius: var(--wp--preset--border-radius--small);
	box-shadow: var(--wp--preset--shadow--image);
}
.wp-block-image {
	.wp-element-caption {
		opacity: 0;
		background: linear-gradient(0deg, #0000008c, #0000008c);
		transform: translate(0, 100%);
	}
	&:hover .wp-element-caption {
		transform: translate(0, 0);
		opacity: 1;
		transition: 500ms ease-in-out;
	}
}
.wp-block-search__button-inside.wp-block-search {
	.wp-block-search__inside-wrapper {
		padding: 0;
		border: none;
		// border: var(--wp--preset--border-radius--small) 0 0 var(--wp--preset--border-radius--small);
	}
	input,
	textarea,
	select {
		border-radius: 0;
		&:focus-visible {
			background-color: var.$blue-grey;
			outline: 2px var(--wp--preset--color--red-orange) solid;
			border-radius: 0;
			outline-offset: -2px;
			transition:
				outline 0ms linear,
				outline-offset 0ms linear;
		}
	}
	.wp-block-search__button {
		background-color: var(--wp--preset--color--dark-blue);
		border-radius: 0;
		margin-left: 0;
		.wp-element-button {
			transition: background-color 0.3s ease;
			svg path {
				fill: var(--wp--preset--color--yellow-white);
			}
		}
	}
}
body > div.wp-site-blocks > div.wp-block-group {
	margin-top: 150px;
}

.wp-block-video {
	video {
		height: auto;
		vertical-align: middle;
		width: 100%;
		border-radius: var(--wp--preset--border-radius--small);
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.hover-invert-black-bg {
	background-color: var(--wp--preset--color--black);
	color: var(--wp--preset--color--white);
	&:hover {
		background-color: var(--wp--preset--color--white);
		color: var(--wp--preset--color--black);
	}
}
.hover-invert-white-bg {
	background-color: var(--wp--preset--color--white);
	color: var(--wp--preset--color--black);
	&:hover {
		background-color: var(--wp--preset--color--black);
		color: var(--wp--preset--color--white);
	}
}
.ct-accolades {
	max-width:20ch;
	.repeater-rows > div {
		display: flex;
		flex-direction: column;
	}
	.repeater-subfield-a {
	font-size: 0.9em;
	font-family: "Gabarito", sans-serif;
	font-weight: 600;
	text-transform: uppercase;	
	letter-spacing: 1px;
	margin-right: 7px;
	margin-top: 5px; }
	
	.repeater-subfield-b {
	font-size: 1em;
	text-wrap:balance;
	}
}


.slide-in-bottom{animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;}
@keyframes slide-in-bottom{0%{transform:translateY(1000px);opacity:0}100%{transform:translateY(0);opacity:1;}}
.delay-100 { animation-delay:100ms; }
.delay-200 { animation-delay:200ms; }
.delay-300 { animation-delay:300ms; }
.delay-400 { animation-delay:400ms; }
.delay-500 { animation-delay:500ms; }