.supporter-grid,
.artist-grid {
	margin: 2rem auto;
	display: grid;
	gap: 0;

	// MOBILE 📱 480px
	@media (width <= 480px) {
		grid-template-columns: 1fr;
		grid-template-areas:
			"info"
			"img"
			"bio"
			"credits";
	}
	// TABLET 📱 481px - 782px
	@media (481px <= width) {
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
		"img info"
			"credits bio";
	}
	// LAPTOP 💻 783px +
	@media (783px <= width) {
		
		max-width: 1140px;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-areas:
				"img info info"
				"credits bio bio";
	}
}

.ct-headshot {
	width:100%;
	grid-area: img;
}
.ct-info {
	grid-area: info;
}
.ct-credits {
	grid-area: credits;
}
.ct-bio {
	grid-area: bio;
}
