@media (max-width: 767px) {
  .bt-mob {
    border-top: 1px solid var(--wp--preset--color--black)!important;
  }
  .br-mob {
    border-right: 1px solid var(--wp--preset--color--black)!important;
  }
  .bb-mob {
    border-bottom: 1px solid var(--wp--preset--color--black)!important;
  }
  .bl-mob {
    border-left: 1px solid var(--wp--preset--color--black)!important;
  }
  .no-bt-mob {
    border-top: none!important;
  }
  .no-br-mob {
    border-right: none!important;
  }
  .no-bb-mob {
    border-bottom: none!important;
  }
  .no-bl-mob {
    border-left: none!important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .bt-tab {
    border-top: 1px solid var(--wp--preset--color--black)!important;
  }
  .br-tab {
    border-right: 1px solid var(--wp--preset--color--black)!important;
  }
  .bb-tab {
    border-bottom: 1px solid var(--wp--preset--color--black)!important;
  }
  .bl-tab {
    border-left: 1px solid var(--wp--preset--color--black)!important;
  }
  .no-bt-tab {
    border-top: none!important;
  }
  .no-br-tab {
    border-right: none!important;
  }
  .no-bb-tab {
    border-bottom: none!important;
  }
  .no-bl-tab {
    border-left: none!important;
  }
}
@media (min-width: 1024px) {
  .bt-desk {
    border-top: 1px solid var(--wp--preset--color--black)!important;
  }
  .br-desk {
    border-right: 1px solid var(--wp--preset--color--black)!important;
  }
  .bb-desk {
    border-bottom: 1px solid var(--wp--preset--color--black)!important;
  }
  .bl-desk {
    border-left: 1px solid var(--wp--preset--color--black)!important;
  }
  .no-bt-desk {
    border-top: none!important;
  }
  .no-br-desk {
    border-right: none!important;
  }
  .no-bb-desk {
    border-bottom: none!important;
  }
  .no-bl-desk {
    border-left: none!important;
  }
}
