@use "variables" as var;

.hover-swipe {
	text-decoration: none;
	position: relative;
	transition: 200ms ease-in-out 0s;
	&:hover {
		cursor: pointer;
		transition: 200ms ease-out 100ms;
		&:after {
			z-index: -1;
			width: 100%;
			transition: 300ms ease-in;
		}
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 0;
	}
	&:before {
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&:after {
		left: 0px;
		right: -2px;
		width: 0px;
		height: 100%;
		z-index: 0;
		transition:
			width 300ms ease-in-out,
			z-index 150ms ease-in-out;
	}
	// 	bg swipe on hover
}

.wp-block-button {
	.wp-element-button {
		overflow: hidden;
	}
	&.is-style-fill .wp-element-button {
		@extend .hover-swipe;
		$bg: var.$dark-blue;
		$txt: var.$white;
		$hov-bg: var.$white;
		$hov-txt: var.$dark-blue;

		border: 2px solid var.$dark-blue;
		background-color: $bg;
		color: $txt;
		font-weight: 500;
		&:hover {
			color: $hov-txt;
		}
		&:after {
			border-radius: inherit;
			background: $hov-bg;
		}
	}
	&.is-style-outline .wp-block-button__link {
		border: none;
		background-color: transparent;
		outline: 2px solid var.$black;
		outline-offset: -2px;
		&:hover {
			background-color: var.$white;
			// color: var.$white;
		}
	}
	&.is-style-blur .wp-element-button {
		color: black;
		background-color: transparent;
		backdrop-filter: blur(4px);
		outline: 2px solid var.$black;
		outline-offset: -2px;
	}

	&.is-style-button-brand .wp-element-button {
		@extend .hover-swipe;
		$bg: var.$blue;
		$txt: var.$white;
		$hov-bg: var.$dark-blue;

		// border-left: 2px solid $hov-bg;
		background-color: $bg;
		color: $txt;

		&:after {
			background: $hov-bg;
		}
	}

	&.is-style-button-brand-alt .wp-element-button {
		@extend .hover-swipe;
		$bg: var.$goldenrod;
		$txt: var.$black;
		$hov-bg: var.$red-orange;
		$hov-txt: var.$white;

		// border-left: 2px solid black;
		background-color: $bg;
		color: $txt;
		&:hover {
			color: $hov-txt;
		}

		&:after {
			background: $hov-bg;
		}
	}
	&.is-style-button-dark .wp-element-button {
		@extend .hover-swipe;
		$bg: var.$purple;
		$txt: var.$white;
		$hov-bg: var.$red;
		// $hov-txt: var.$black;

		// border-left: 2px solid black;
		background-color: $bg;
		color: $txt;
		&:hover {
			// color: $hov-txt;
		}

		&:after {
			background: $hov-bg;
		}
	}
	&.is-style-button-light .wp-element-button {
		@extend .hover-swipe;
		$bg: var.$light-blue;
		$txt: var.$black;
		$hov-bg: var.$blue-grey;
		$hov-txt: var.$black;

		border: 2px solid var.$light-blue;
		background-color: $bg;
		color: $txt;
		&:hover {
			color: $hov-txt;
			border: 2px solid var.$dark-blue;
		}

		&:after {
			background: $hov-bg;
		}
	}
	&.is-style-secondary-button .wp-element-button {
		@extend .hover-swipe;
		$bg: var.$light-yellow;
		$txt: var.$black;
		$hov-bg: var.$goldenrod;
		// $hov-txt: var.$white;

		border: 1.5px solid var.$light-yellow;
		background-color: $bg;
		color: $txt;
		// &:hover {
		// 	color: $hov-txt;
		// }

		&:after {
			background: $hov-bg;
		}
		&:hover {
			border: 1.5px solid var.$black;
		}
	}
}
