@use "ct-variables" as var;

.ct-artist-grid {
	display: grid;
	gap: var(--wp--preset--spacing--40);
	grid-template-columns: 50% 50%;
	grid-template-areas:
		"info info"
		"img img"
		"content content"
		"credits credits";

	@media (width > var.$mobile) {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			"info img"
			"content content"
			"credits credits";
	}
}
.ct-artist-headshot {
	grid-area: img;
}
.ct-artist-info {
	grid-area: info;
}
.ct-artist-credits {
	grid-area: credits;
}
.ct-artist-bio {
	grid-area: content;
}
