@use "ct-variables" as var;

.wp-block-button {
	.wp-block-button__link {
		// font-size: 50px * 0.4;
		// margin: 50px * 0.25;
		// padding: 50px * 0.2 50px * 0.6;
		text-decoration: none;
		background-color: rgb(73, 2, 73);
		color: white;
		position: relative;
		transition: 200ms ease-in-out 0s;
		border-left: 1.5px solid blue;

		// DEFAULT HOVER EFFECT
		:hover {
			color: red;
			cursor: pointer;
			transition: 200ms ease-out 100ms;
		}

		// bg swipe pseudo-elements
		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
		}
		&:before {
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		&:after {
			left: 0px;
			width: 0px;
			height: 50px;
			background: inherit;
			z-index: 0;
			transition:
				width 300ms ease-in-out,
				z-index 150ms ease-in-out;
		}

		// bg swipe on hover (left-to-right by default)
		:hover:after {
			z-index: -1;
			width: 100%;
			transition: 300ms ease-in;
		}
	}
	
	// STYLES
	// &.is-style-outline
	
	// &.is-style-large
	// &.is-style-brand
	// &.is-style-brand-at
	// &.is-style-dark
	// &.is-style-light
	// &.is-style-tint

	&.is-style-right-to-left .wp-block-button__link {
		border-left: none;
		border-right: 1.5px solid blue;
	
		&:after {
			left: auto;
			right: 0px;
		}
	}
}

// .wp-block-button .wp-block-button__link {

// }

