
.card-3d-flip{
	position: relative;
	height: 400px;
	width: 100%;
	margin: 10px 0;
	transition: ease all 1500ms;
	perspective: 1200px;
	&:hover{
		.cover{
			transform: rotateX(0deg) rotateY(-180deg);
			&:before{
				transform: translateZ(30px);
			}
			&:after{
				background-color: black;
			}
		}
	}
}