.wpforms-container > form {
	:focus {
		outline: none;
	}
}

.wpform-field {
	padding: 0;
	float: left;
	width: 27.33%;
	margin: 40px 3%;
	position: relative;
	/* necessary to give position: relative to parent. */
	> input {
		// input[type="text"] {
		font-size: 1rem;
		color: #333;
		width: 100%;
		box-sizing: border-box;
		letter-spacing: 1px;
		:focus {
			outline: none;
		}
	}
	// underline style
	> input {
		border: 0;
		padding: 7px 0;
		border-bottom: 1px solid #ccc;

		& ~ .focus-border {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 2px;
			background-color: #4caf50;
			transition: 0.4s;
		}
		&:focus ~ .focus-border {
			width: 100%;
			transition: 0.4s;
		}
	}

	// // label up + bg right style
	// input {
	// 	border: 0;
	// 	padding: 7px 0;
	// 	border-bottom: 1px solid #ccc;

	// 	& ~ .focus-border {
	// 		position: absolute;
	// 		bottom: 0;
	// 		left: 0;
	// 		width: 0;
	// 		height: 2px;
	// 		background-color: #4caf50;
	// 		transition: 0.4s;
	// 	}
	// 	&:focus ~ .focus-border {
	// 		width: 100%;
	// 		transition: 0.4s;
	// 	}
	// }
}
