@use "ct-variables" as var;
@use "ct-typography";
.grid-box {
	/* min-height: 500px; */
	margin-block-start: 0 !important;
	border: var.$black 2px solid;
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border-color: hsl(240, 10%, 6%);
	border-width: 2px;
	border-radius: var(--wp--preset--border-radius--small);
	box-shadow: var(--wp--preset--shadow--card);
	opacity: 0.95;
&:hover {
	opacity: 1;
	background: white;
	transition: background 0.3s ease;
}
	.grid-title {
		@extend .uppercase-heading;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0;
		z-index: 1;
		font-size: 1.33rem;
		
		padding: var(--wp--preset--spacing--30);
		text-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
		&.rel {
			position: relative;
		}
	}
	a {
		text-decoration: none;
	}
}

/* Home page grid layout */
.ct-home-grid {
	margin: 0 auto;
	gap: var(--wp--preset--spacing--20);
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(8, minmax(200px, auto));
	grid-template-areas:
		"A A A"
		"B B B"
		"C C C"
		"D D D"
		"E E E"
		"F F F"
		"G G G"
		"H H H"
		"I I I"
		"J J J"
		"K K K";
	@media (width > var.$tablet) {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, minmax(200px, auto));
		grid-template-areas:
			"A A A A B B"
			"C C D D E E"
			"F F F F F F"
			"G G G H H H"
			"I I I I J J"
			"K K K K J J";
	}
	@media (width > var.$desktop) {
		max-width: 1140px;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(5, minmax(200px, auto));
		grid-template-areas:
			"A A A A A B B B B C C C"
			"A A A A A B B B B D D D"
			"A A A A A E E E E E E E"
			"F F F F F F F F F F F F"
			"G G G G G G H H H H H H"
			"I I I I I I I I J J J J"
			"I I I I I I I I K K K K";
	}
	.box-a {
		grid-area: A;
	}
	.box-b {
		grid-area: B;
	}
	.box-c {
		grid-area: C;
	}
	.box-d {
		grid-area: D;
	}
	.box-e {
		grid-area: E;
	}
	.box-f {
		grid-area: F;
	}
	.box-g {
		grid-area: G;
	}
	.box-h {
		grid-area: H;
	}
	.box-i {
		grid-area: I;
	}
	.box-j {
		grid-area: J;
	}
	.box-k {
		grid-area: K;
	}
}
