@use "ct-variables" as var;

.wp-block-navigation-item.wp-block-navigation-link:not(.is-style-menu-heading) {
	padding-left: 1rem;
}

// #chanceHeader,
.ct-header-grid {
	max-width: 1440px;
	margin: 0 auto;
	position: sticky;
	top: 0;
	z-index: 1000;
	display: grid;
	position: relative;

	// MOBILE 📱 < 475px
	grid-template-columns: 1fr 1fr;
	grid-template-columns: repeat(2, minmax(min-content, 1fr));
	grid-template-areas:
		"logo social"
		"srch srch"
	"soon soon "
	"nav nav";

	.ct-search {
		padding-top: var(--wp--preset--spacing--30);
		padding-right: var(--wp--preset--spacing--30);
		padding-bottom: var(--wp--preset--spacing--30);
		padding-left: var(--wp--preset--spacing--30);
	}
	// MOBILE XL 📱 476px - 640px
	@media (width >= 476px) {
		grid-template-columns: repeat(2, minmax(min-content, 1fr));
		grid-template-areas:
			"logo srch"
			"logo social"
		"on join"
		"give ed"
		"back soon ";
	}

	// 	TABLET 📱 641px - 767px
	@media (width >= 641px) {
		grid-template-columns: repeat(2, minmax(min-content, 1fr)) repeat(
				4,
				1fr
			);
		grid-template-areas:
			"logo logo social social srch srch"
			"on on give give join join"
			"ed ed back back soon soon";
	}

	// LAPTOP 💻 768px - 1140px
	@media (width >= 768px) {
		grid-template-columns: 0.25fr repeat(6, 1fr) 0.25fr;
		grid-template-areas:
			"logo logo logo social social srch srch srch"
			". on on give give join join . "
			". ed ed back back soon soon .";
		.ct-search {
			padding-right: var(--wp--preset--spacing--50);
		}
	}

	// DESKTOP 🖥️ 1141px - 1360px
	@media (width >= 1141px) {
		grid-template-areas:
			"logo logo social social srch srch"
			// "logo on join give ed back"
			"soon on join give ed back"
			". on join give ed back";
		grid-template-columns: minmax(max-content, 1.1fr) repeat(
				5,
				minmax(11rem, 1fr)
			);
			.ct-title {
				max-width: 300px;
			}
		.ct-social {
			padding-top: 0;
		}
	}
}

// #siteTitle,
.ct-title {
	grid-area: logo;
}
// #srchBox,
.ct-search {
	grid-area: srch;
}
// #comingSoon,
.ct-soon {
	grid-area: soon;
}
@media (width < 641px) {
	#socialLinks {
		justify-content: center;
	}
	#siteTitle {
		justify-content: center;
	}
}
.ct-social {
	grid-area: social;
}
// #onMenu,
.ct-onstage {
	grid-area: on;
}
// #joinMenu,
.ct-join {
	grid-area: join;
}
// #donateMenu,
.ct-give {
	grid-area: give;
}
// #edMenu,
.ct-education {
	grid-area: ed;
}
// #backMenu,
.ct-backstage {
	grid-area: back;
}
// #mobileNav,
.ct-accordion-nav {
	grid-area: nav;
}

.ct-header-grid:hover {
	cursor: pointer;
	.ct-social,
	.ct-soon {
		height: calc-size(auto);
		&:hover {
			color: var.$white;
			background-color: var.$black;
		}
	}

	.ct-submenu {
		border-radius: 2px;
		background-color: none;
		&:hover {
			color: var.$white;
		}
		&.ct-onstage:hover {
			background-color: var.$onstage;
			// background-color: var.$goldenrod;
			// color: var.$black;
		}
		&.ct-join:hover {
			background-color: var.$join;
		}
		&.ct-donate:hover {
			background-color: var.$give;
		}
		&.ct-education:hover {
			background-color: var.$education;
		}
		&.ct-backstage:hover {
			background-color: var.$backstage;
		}
		
	}
}

$trans-in: 300ms ease-in;
$trans-out: 300ms ease-out;

.ct-submenu {
	.ct-menu-heading {
		height: 2rem;
		justify-content: center;
		p {
			text-align: left;
		}
	}
	.ct-nav {
		opacity: 1;
		height: auto;
		transition:
			opacity 0.3s ease,
			height 0.3s ease;
	}

	&.hidden {
		.ct-menu-heading {
			// justify-content: end;
			p {
				// text-align: right;
			}
		}
		.ct-nav {
			opacity: 0;
			height: 0;
			overflow: hidden;
			transition:
				opacity 400ms ease 100ms,
				height 300ms ease 200ms;
		}
	}
}

.ct-soon {
	&.hidden {
		opacity: 0;
		height: 0;
		overflow: hidden;
	}
}

// Menu toggle button
.ct-menu-toggle-wrapper {
	@media (width >= 641px) {
		display: none !important;
	}
}

#mobileNav {
	display: none;
	&.visible {
		display: block;
	}
}
