* {
	--green: #bad342;
	--white: #fff;
	--black: #231f20;
	--dark-grey: #4c4f54;
	--grey: #949195;
	--light-grey: #e6e5e5;
}

body {
	height: 100%;
	font-family: var(--serif);
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 0;
	color: var(--black);
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	--bodyPadding: 60px;
}

.topborder {
	width: 100%;
	height: 5px;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 auto;
	padding: 0;
	background: #bad342;
	box-sizing: border-box;
	z-index: 1000000;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	opacity: 1;
}

.top-page {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.headerwrapper {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	display: block;
	box-sizing: border-box;
	background: #333;

	.header-scroll-trigger {
		position: absolute;
		z-index: -1;
		top: 0;
		height: 150px;
	}
}

.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	transition: background 0.25s ease;
}

.logo {
	width: 150px;
	height: 150px;
	margin: 0;
	display: block;
	overflow: hidden;
	padding: 0;
	background: var(--green);
	z-index: 999999;
	transform: translateZ(0);
	backface-visibility: hidden;
	will-change: width, height;
	contain: layout style paint;

	a {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		text-decoration: none;
		text-indent: -999999px;
		position: relative;
		will-change: width, height;

		svg {
			width: 100px;
			height: 100px;
			color: #4c4f54;
			transform: scale(1);
			transition: transform 0.25s ease;
		}
	}
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	padding-right: 25px;
	width: 100%;

	.menu-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 1rem;
		margin-top: 0.5rem;
	}

	.menu-main-menu {
		display: flex;
		gap: 1rem;
		margin: 0;
		padding: 0;
		align-items: flex-start;

		> .menu-item {
			display: flex;
			gap: 1rem;
			align-items: flex-start;
		}

		a {
			color: var(--green);
			line-height: 2rem;
		}
	}

	.nav-menu > li a {
		font-size: 1rem;
	}
}

.secondarynavigation {
	display: flex;
	align-items: center;
	gap: 1rem;
	height: 56px;
	will-change: height, transform;
	contain: layout style paint;
}

.menu-secondary-menu {
	display: flex;
	gap: 1rem;

	.menu-item {
		font-family: var(--serif);
		font-size: 0.8rem;
		font-weight: 400;

		a {
			color: var(--white);
		}
	}
}

.menu-item {
	font-family: var(--sans-serif);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

form {
	position: relative;
	margin: 0;
}

.header-search {
	input {
		color: var(--white);
		padding: 0 15px;
		font-size: 0.8rem;
		background: rgb(249 249 249 / 29%);
		border-radius: 30px;
		border: 0;
	}

	svg {
		position: absolute;
		top: 11px;
		right: 10px;
		width: 20px;
	}
}

ul {
	list-style-type: none;
}

.scroll-spacer {
	height: 400vh;
}
