@use "ct-variables" as var;

.hover-spread {
	letter-spacing: 2px;

	:hover {
		letter-spacing: 3px;
	}
}

.hide-on-mobile {
	@media (max-width: var.$desktop) {
		display: none;
	}
}

.list-hover {
	padding: 1rem;
	@media (hover) and (prefers-reduced-motion: no-preference) {
		& > li {
			cursor: pointer;
			transition: opacity 100ms ease-in-out;
		}

		:hover > li:not(:hover) {
			opacity: 0.25;
			transition: opacity 200ms ease-in-out;
		}
	}
}

.hover-invert-black-bg {
	background-color: var(--wp--preset--color--black);
	color: var(--wp--preset--color--white);
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: var(--wp--preset--color--white);
		color: var(--wp--preset--color--black);
		transition: all 0.3s ease-in-out;
	}
}
.hover-invert-white-bg {
	background-color: var(--wp--preset--color--white);
	color: var(--wp--preset--color--black);
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: var(--wp--preset--color--black);
		color: var(--wp--preset--color--white);
		transition: all 0.3s ease-in-out;
	}
}
