@use "ct-variables" as var;
.site-header {
	position: relative;
}
#chanceHeader {
	position: fixed;
	top: 0; /* overridden by JS to account for wp-admin bar */
	left: 0;
	width: 100%;
	z-index: 1000;
}
.ct-production-grid {
	display: grid;


	// MOBILE 📱 480px
	@media (width <= 480px) {
		grid-template-columns: 1fr;
		grid-template-areas:
		"header" 
		"image"
			"producers"
			"tickets"
			"content"
			"sidebar";
	}
	// TABLET 📱 481px - 782px
	@media (481px <= width <= 782px) {
		grid-template-columns: 60% 40%;
		grid-template-areas:
		"header image"
			// "producers producers image"
			"producers tickets"
			// "content content tickets"
			// "tickets tickets tickets"
			"content sidebar";
	}
	// LAPTOP 💻 783px +
	@media (783px <= width) {
		grid-template-columns: 70% 30%;
		grid-template-areas:
		"header image"
			// "producers producers image"
			"producers tickets"
			// "content content tickets"
			// "tickets tickets tickets"
			"content sidebar";

	}

	.ct-production-image {
		grid-area: image;
	}
	.ct-production-header {
		grid-area: header;
	}
	.ct-production-tickets {
		grid-area: tickets;
	}
	.ct-production-producers {
		grid-area: producers;
	}
	.ct-production-content {
		grid-area: content;
	}
	.ct-production-tickets {
		grid-area: tickets;
	}
	.ct-production-info {
		grid-area: info;
	}
	.ct-production-sidebar {
		grid-area: sidebar;
	}
	.ct-production-running-time {
		grid-area: time;
	}
	.ct-upcoming-performances {
		grid-area: perf;
	}
	.ct-production-show-notes {
		grid-area: notes;
	}
	.ct-production-credits {
		grid-area: credits;
	}
}
.ct-production-producers {
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1.125em;
	}
	p {
		font-size: 1em;
	}
}
.ct-accolades {
	.repeater-subfield-a {
		font-size: 0.9em;
		font-family: "Gabarito", sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-right: 7px;
		margin-top: 5px;
	}
	.repeater-subfield-b {
		font-size: 1em;
	}
}
