// src/json/settings/color.jsonc: settings.color.palette
$white: hsl(50, 50%, 98%); // bridal heath
$yellow-white: hsl(42, 53%, 90%); // parchment
$black: hsl(240, 10%, 6%); // woodsmoke
$red: hsl(0, 56%, 39%); // old 
$peach: hsl(22, 81%, 73%); // hit pink
$red-orange: hsl(22, 100%, 39%); // burnt orange
$orange: $red-orange;
$goldenrod: hsl(45, 76%, 50%); // galliano
$light-yellow: hsl(45, 100%, 82%); // cream brulee
$dark-blue: hsl(208, 51%, 22%); // nile-blue
$blue: hsl(208, 56%, 53%); // danube
$light-blue: hsl(180, 32%, 81%); // powder blue
$dark-green: hsl(180, 47%, 20%); // plantation
$teal: hsl(180, 100%, 25%); // orient
$blue-grey: hsl(210, 13%, 91%); // mercury
$green: hsl(120, 36%, 30%); //fern green
$light-green: hsl(95, 43%, 60%); // feijoa
$green-white: hsl(95, 42%, 88%); // xanah
$purple: hsl(278, 39%, 20%); // bossanova


$mobile: 475px; /* < 475px */
$mobile-xl: 640px; /* 476px - 640px */
$tablet: 767px; /* 641px - 767px */
$laptop: 1140px; /* 768px - 1140px */
$desktop: 1360px; /* 1141px - 1360px */

// src/json/settings/other.jsonc: custom.sectionColor
// $onstage: $goldenrod; // would have to have black text
$onstage: $red;
$join: $teal;
$give: $purple;
$education: $green;
$backstage: $orange;