$white: hsl(50, 50%, 98%); // white
$yellow-white: hsl(42, 53%, 90%); // yellow-white
$black: hsl(240, 10%, 6%); // off-black
$peach: hsl(22, 81%, 73%); // hit pink
$light-yellow: hsl(45, 100%, 82%); // cream brulee
$dark-blue: hsl(208, 51%, 22%); // nile-blue
$light-blue: hsl(180, 32%, 81%); // powder blue
$green-white: hsl(95, 42%, 88%); // xanah
$red-orange: hsl(22, 100%, 43%); // grenadier
$goldenrod: hsl(45, 76%, 50%); // galliano
$blue: hsl(208, 56%, 53%); // ziggurat
$teal: hsl(180, 100%, 25%); // teal
$dark-green: hsl(180, 48%, 20%); // jungle green
$light-green: hsl(95, 43%, 60%); // feijoa
$blue-grey: hsl(214, 15%, 91%);
$purple:hsl(278, 39%, 20%); // bossanova

$mobile:475px; /* < 475px */
$mobile-xl: 641px; /* 476px - 640px */
$tablet: 767px; /* 641px - 767px */
$laptop: 1140px; /* 768px - 1140px */
$desktop: 1360px; /* 1141px - 1360px */


$onstage: $goldenrod;
$join: $blue;
$give: $teal;
$ed: $light-green;
$back: $red-orange;