@use "variables" as var;

.production-grid {
	display: grid;

	// MOBILE 📱 480px
	@media (width <= 480px) {
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"image"
			"producers"
			"tickets"
			"content"
			"sidebar";
	}
	// TABLET 📱 481px - 782px
	@media (481px <= width <= 782px) {
		grid-template-columns: 60% 40%;
		grid-template-areas:
			"header image"
			// "producers producers image"
			"producers tickets"
			// "content content tickets"
			// "tickets tickets tickets"
			"content sidebar";
	}
	// LAPTOP 💻 783px +
	@media (783px <= width) {
		grid-template-columns: 70% 30%;
		grid-template-areas:
			"header image"
			// "producers producers image"
			"producers tickets"
			// "content content tickets"
			// "tickets tickets tickets"
			"content sidebar";
	}

	.production-image {
		grid-area: image;
	}
	.production-header {
		grid-area: header;
	}
	.production-tickets {
		grid-area: tickets;
	}
	.production-producers {
		grid-area: producers;
	}
	.production-content {
		grid-area: content;
	}
	.production-tickets {
		grid-area: tickets;
	}
	.production-info {
		grid-area: info;
	}
	.production-sidebar {
		grid-area: sidebar;
	}
	.production-running-time {
		grid-area: time;
	}
	.ct-upcoming-performances {
		grid-area: perf;
	}
	.production-show-notes {
		grid-area: notes;
	}
	.production-credits {
		grid-area: credits;
	}
}
.production-producers {
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1.125em;
	}
	p {
		font-size: 1em;
	}
}

.ct-accolades {
	max-width: 15ch;

	.repeater-rows {
		// display: grid;
		// grid-template-columns: 1fr 1fr;
		// grid-template-rows: auto auto;
		div {
			display: flex;
			flex-direction: column;
			padding: 3px 1px 5px 1px;
			margin: 5px;
			// border: 2px solid var(--wp--preset--color--black);
			border-radius: var(--wp--preset--border-radius--small);
			background: var(--wp--preset--color--green-white);
			box-shadow: var(--wp--preset--shadow--subtle);
			transition: all 0.3s ease-out;

			&:hover {
				background: var(--wp--preset--color--red-orange);
				color: white;
				box-shadow: var(--wp--preset--shadow--button);
				cursor: pointer;
				transition: all 0.3s ease-in-out;
				transform: translate(0, -3px);
			}
		}
	}

	span {
		margin-top: 3px;
		text-wrap: balance;
		text-align: center;

		&.repeater-subfield-a {
			margin-right: 7px;
			margin-top: 5px;
			text-transform: uppercase;
			font-family: "Gabarito", sans-serif;
			letter-spacing: 1px;
			font-size: 0.9em;
			font-weight: 600;
		}

		&.repeater-subfield-b {
			font-size: 1em;
			line-height: 1.1;
		}
	}
}

.production-image > figure > a > img {
	border: 2px solid black;
	border-radius: var(--wp--preset--border-radius--small);
	box-shadow: var(--wp--preset--shadow--card);
	transition: all 0.3s ease-out;

	&:hover {
		transition: all 0.3s ease-in-out;
		background: var(--wp--preset--color--red-orange);
		color: white;
		box-shadow: var(--wp--preset--shadow--button);
		cursor: pointer;
		transform: translate(0, -3px);
	}
}
