@import url("https://use.typekit.net/mrf2xjr.css");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Gabarito:wght@400..900&family=Inconsolata:wdth,wght@50..200,200..900&family=Space+Grotesk:wght@300..700&display=swap");

.inconsolata {
	font-family: "Inconsolata", monospace;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 300; // 200-900
	font-stretch: 100; // 50-200
}

.gabarito {
	font-family: "Gabarito", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400; // 400-900
	font-style: normal;
}

.crimson-pro {
	font-family: "Crimson Pro", serif;
	font-optical-sizing: auto;
	font-weight: 200; // 200-900
	font-style: normal;
}

.space-grotesk {
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300; // 300-700
	font-style: normal;
}

$ebony: #05051a;
$lucky-point: #000f5c;
$hollywood-cerise: #e322a9;
$harlequin: #0ff207;
$aqua: #29f2f2;
$cerulean-blue: #144fc4;
$revolver: #24041b;
$hint-of-red: #fffafd;
$jaguar: #03030c;
$gossip: #cbfdbc;
$mint-tulip: #bafaf9;

$menuitem-in: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.175);
$menuitem-out: all 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);

body {
	background-color: $ebony;
	color: $hint-of-red;
	font-family: "Inconsolata", monospace;
	font-variation-settings: wght 300, wdth 100;
}

.chance-megamenu {
	//  LAYOUT
	.megamenu-grid {
		display: grid;
		grid-template-rows: 100px repeat(2, 1fr);
		grid-template-columns: repeat(4, 1fr);
		> li {
			&:nth-child(1) {
				grid-area: 1 / 1 / 2 / 5;
			}
			&:nth-child(2) {
				grid-area: 2/1/3/2;
			}
			&:nth-child(3) {
				grid-area: 3/1/4/2;
			}
			&:nth-child(4) {
				grid-area: 2/2/3/3;
			}
			&:nth-child(5) {
				grid-area: 3/2/4/3;
			}
			&:nth-child(6) {
				grid-area: 2/3/3/4;
			}
			&:nth-child(7) {
				grid-area: 3/3/4/4;
			}
			&:nth-child(8) {
				grid-area: 2/4/3/5;
			}
			&:nth-child(9) {
				grid-area: 3/4/4/5;
			}
		}
	}
	// ALL MENUS
	ul {
		list-style: none;
		margin-top: 0.25rem;
		padding: 0;
		li {
			padding: 0.25rem 0.5rem;
			transition: $menuitem-out;
			a {
				text-decoration: none;
				transition: $menuitem-in;
				&:hover {
					color: $hollywood-cerise;
					text-decoration: underline;
				}
			}
		}
	}
	// LEVEL 1 MAIN MENU
	.main-menu {
		> li > a {
			color: $aqua;
			font-family: "Space Grotesk", sans-serif;
			font-weight: 400;
			font-size: 1.618rem;
			letter-spacing: 0.03rem;
			&:hover {
				letter-spacing: 0.2rem;
				text-transform: uppercase;
			}
		}
	}
	// LEVEL 2 SUBMENU
	.submenu {
		li a {
			color: $gossip;
			font-family: "Inconsolata", monospace;
			font-variation-settings: "wght" 300, "wdth" 100;
			font-size: 1.33rem;
			&:hover {
				color: $harlequin;
				font-variation-settings: "wght" 300, "wdth" 130;
			}
		}
	}

	// LEVEL 3 SUBMENU
	.submenu .submenu {
		li a {
			color: $mint-tulip;
			text-transform: capitalize;
			font-size: 1.25rem;
			&:hover {
				color: $harlequin;
				font-variation-settings: "wght" 300, "wdth" 130;
			}
		}

		.submenu-heading {
			color: $hollywood-cerise;
			font-variation-settings: "wght" 400, "wdth" 85;
			text-transform: uppercase;
			font-size: 1.33rem;
			&:hover {
				font-variation-settings: "wght" 400, "wdth" 100;
			}
		}
	}
}
